.cart_section {
    width: 100%;
    padding-top: 93px;
    padding-bottom: 111px
  }
  
  .cart_title {
    font-size: 30px;
    font-weight: 500
  }
  
  .cart_items {
    margin-top: 8px
  }
  
  .cart_list {
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .cart_item {
    width: 100%;
    padding: 15px;
    padding-right: 46px
  }
  
  .cart_item_image {
    width: 133px;
    height: 133px;
    float: left
  }
  
  .cart_item_image img {
    max-width: 100%
  }
  
  .cart_item_info {
    width: calc(100% - 133px);
    float: left;
    padding-top: 18px
  }
  
  .cart_item_name {
    margin-left: 7.53%
  }
  
  .cart_item_title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5)
  }
  
  .cart_item_text {
    font-size: 18px;
    margin-top: 35px
  }
  
  .cart_item_text span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 11px;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px)
  }
  
  .cart_item_price {
    text-align: right
  }
  
  .cart_item_total {
    text-align: right
  }
  
  .order_total {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-right: 46px;
    padding-left: 15px;
    background-color: #fff;
  }
  
  .order_total_title {
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 60px
  }
  
  .order_total_amount {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px
  }
  
  .cart_buttons {
    margin-top: 60px;
    text-align: right
  }
  
  .cart_button_clear {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border: solid 1px #b2b2b2;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px
  }
  
  .cart_button_clear:hover {
    border-color: #0e8ce4;
    color: #0e8ce4
  }
  
  .cart_button_checkout {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    vertical-align: top
  }
  
  .cart_list {
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
  }
  
  .cart_item {
    border-radius: 10px;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  Expand Down .container_cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #order-view,
  #checkout,
  .cart_section {
    min-width: 80vw;
  }
  
  #form6Example2 {
    margin: 10px;
  }
  
  .radio-opcion {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .cantidad {
    width: 40px;
    height: 30px;
    margin-top: 30px;
    margin-left: 10px;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    max-width: 500px;
    height: 100%;
  }
  
  #confirmarModal {
    min-width: 90px;
    margin-left: 80%;
  }
  
  .input_modal,
  .input_modal2 {
    border-radius: 5px;
    line-height: 30px;
    border-width: 1px;
    max-width: 200px;
  }
  
  #div_modal2 {
    display: inline-flex;
  }
  
  .div_modal {
    display: inline-block;
  }
  
  .codigo {
    margin-left: 20px;
  }
  
  .codigo2 {
    margin-left: -3px;
  }
  
  #divParaModal {
    display: inline-flex;
  }
  
  #formaDePago {
    padding-top: 7px;
  }
  
  .remove-button {
    display: flex;
    align-items: center;
    border: 1px solid rgb(174, 13, 13);
    border-radius: 5px;
    padding: 1rem;
  
  }
  
  .gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
      0 0 0 2px,
      inset -2px 0 0,
      inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
  }
  
  .gg-trash::after,
  .gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
  }
  
  .gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
  }
  
  .gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
  }
  