body {
  background-color: #fffbfb;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh; /* Esto asegura que el contenedor ocupe toda la altura visible */
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #dfdfdf;
  border-radius: 5%;
  padding: 2rem 2rem;
}

.formulario img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  box-shadow: none;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  text-align: start;
  width: 100%;
  padding: 0.4rem 5.8rem 0.4rem 0.3rem;
  font-size: 1.2rem;
  border: 2px solid #000;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  display: block;
  position: relative;
  /* resize: vertical; */
}

.eye-password {
  width: 100%;
  position: relative;
}

#togglePassword {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

input[type="submit"] {
  width: 100%;
  display: block;
  padding: 0.5rem 10rem;
  /* margin: 30px auto 0 auto; */
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 1.1rem;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

input[type="submit"]:hover {
  background: none;
  color: #000;
  border: 2px solid #000;
}

.registroRestablecer:hover {
  -webkit-text-stroke: 0.5px black;
}

.displayOff {
  display: none;
}