.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.col-md-4:hover {
  transform: scale(1.01);
}

.col-md-4 {
  transition: all .20s;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .jumbotron {
    height: 50vh;
    padding: 5em inherit;
    margin-bottom: 0;
    background-color: #53C0FB;
    background: url('../img/cover_back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
  }
}

@media (max-width: 1199px) {
  .jumbotron {
    height: 50vh;
    padding: 5em inherit;
    margin-bottom: 0;
    background-color: #53C0FB;
    background: url('../img/cover_back.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 10px;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

#container-product {
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  justify-content: center;
}

.product,
.rProduct {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  transition: all .20s;
  cursor: pointer;
  width: 250px;
}

.rProduct:hover {
  transform: scale(1.01);
}

.product img {
  border-radius: 7px 7px 0px 0px;
  padding: 0px;
  max-width: 100%;
  height: auto;
  box-shadow: none;
}

.product:hover {
  transform: scale(1.01);
}

.product h2 {
  text-align: center;
  font-size: 1.3rem;
  margin: 4px 0;
  color: #100101;
}

.product button,
.boton-ver-producto {
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  margin-right: 10px;
  border: 2px solid white;
  position: relative;
  background-color: rgb(243, 170, 11);
  transition: all 0.1s;
}

.boton-ver-producto:hover {
  transform: scale(1.05);
}

.product button:active {
  border: 2px solid rgb(124, 122, 122);
}

.product p {
  font-size: 0.9rem;
  text-align: start;
  margin: 2px 10px;
  color: #908a8a;
}

.product-description {
  font-style: initial;
}

footer {
  background-color: gray;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}


.checked {
  color: gold;
}

#calificacion-dada:hover {
  color: gold;
}

#boton-enviar-datos:hover {
  transform: scale(1.03);
  color: antiquewhite;
}

#boton-enviar-datos {
  transition: all 0.10s;
  background-color: #4343ffeb;
}

.loginasd {
  max-width: 142px;
  color: aliceblue;
  border-radius: 0.5rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
}

.loginasd:hover {
  background-color: aliceblue;
}

@media (max-width: 991px) {
  #inicio-sesion {
    top: 35%;
  }
}

.userlogged {
  text-decoration: none;
  color: white;
  position: absolute;
  right: 20px;
}

.centrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.ocultar {
  display: none;
}

.bodyclass {
  flex-grow: 1;
}

body,
html {
  margin: 0;
  padding: 0;
}

#container-product2 {
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  margin: auto;
  padding: 0;
}

#product-information {
  border: 0px solid black;
  border-radius: 0.5%;
  min-width: 100%;
  min-height: 500px;
}

#product-information:hover {
  transform: scale(1);
}

/* #product-information {
      border: 0px solid black;
      border-radius: 0.5%;
      min-width: 100%;
      min-height: 100%;
    } */
.test {
  margin: 0;
}

.test-divs {
  margin: 20px 10px 0px 10px;
}

.a {
  color: #fff;
}

#texto {
  color: aliceblue;
}


#calificacion-dada {
  color: grey;
  transition: all 0.3s;
}

#calificacion-dada:focus {
  color: gold;
}

@keyframes jumpStar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
    /* Animación hacia arriba */
  }

  100% {
    transform: translateY(0);
  }
}

#boton-enviar-datos {
  position: relative;
  right: 4px;
}

.alert {
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

#mensaje_compra {
  background-color: #d1e7dd;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  display: flex;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

.sun svg {
  border-radius: 0%;
  position: absolute;
  top: -0.5px;
  left: 24.5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: white;
  position: absolute;
  top: 4px;
  left: 0px;
  z-index: 1;
  width: 17px;
  height: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  -webkit-transition: .4s;
  transition: .4s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.moon svg {
  animation: tilt 5s linear infinite;
}

input:checked+.slider {
  background-color: #001629;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  position: absolute;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-mode {
  background-color: #141e24;
  transition: background-color .5s;
  color: #fff;
}

.dark-mode .cart_item {
  background-color: #343a40;
}

.dark-mode .product {
  background-color: #343a40;
}

.product {
  background-color: #eeeeee;
}

.dark-mode .list-group-item {
  background-color: #343a40;
}

.dark-mode .d-flex {
  color: #fff;
}

.dark-mode .p_modoOscuro {
  color: black;
}

.dark-mode h2 {
  color: #fff;
}

.dark-mode .modal-content {
  background-color: #373739;
}

.dark-mode .card {
  background-color: #343a40;
}

.dark-mode .btn-mode {
  background-color: #1A1C1E;
  border: 1px solid white;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #E0E0E0;
  color: #000000
}

ul {
  list-style: none;
  margin-bottom: 0px
}

.button {
  display: inline-block;
  background: #0e8ce4;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px
}

.button:hover {
  opacity: 0.8
}

.cart_section {
  width: 100%;
  padding-top: 93px;
  padding-bottom: 111px
}

.cart_title {
  font-size: 30px;
  font-weight: 500
}

.cart_items {
  margin-top: 8px
}

.cart_list {
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff
}

.cart_item {
  width: 100%;
  padding: 15px;
  padding-right: 46px
}

.cart_item_image {
  width: 133px;
  height: 133px;
  float: left
}

.cart_item_image img {
  max-width: 100%
}

.cart_item_info {
  width: calc(100% - 133px);
  float: left;
  padding-top: 18px
}

.cart_item_name {
  margin-left: 7.53%
}

.cart_item_title {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5)
}

.cart_item_text {
  font-size: 18px;
  margin-top: 35px
}

.cart_item_text span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 11px;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px)
}

.cart_item_price {
  text-align: right
}

.cart_item_total {
  text-align: right
}

.order_total {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-right: 46px;
  padding-left: 15px;
  background-color: #fff
}

.order_total_title {
  display: inline-block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 60px
}

.order_total_amount {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 26px;
  line-height: 60px
}

.cart_buttons {
  margin-top: 60px;
  text-align: right
}

.cart_button_clear {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
  border: solid 1px #b2b2b2;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  margin-right: 26px
}

.cart_button_clear:hover {
  border-color: #0e8ce4;
  color: #0e8ce4
}

.cart_button_checkout {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  vertical-align: top
}

.cart_list {
  border: none;
  box-shadow: none;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}

.cart_item {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}







Expand Down .container_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#order-view,
#checkout,
.cart_section {
  min-width: 80vw;
}

#form6Example2 {
  margin: 10px;
}

.radio-opcion {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cantidad {
  width: 40px;
  height: 30px;
  margin-top: 30px;
  margin-left: 10px;
  border: solid;
  border-radius: 5px;
  border-width: 2px;
}

.CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(255, 208, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  margin-top: 1%;
}

.IconContainer {
  position: absolute;
  left: -60px;
  /* Ajusta el espacio a la izquierda del ícono */
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: .5s;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: .5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}

#comentario-hecho {
  resize: none;
}

.calificaciones {
  width: 200px;
}

#form6Example7 {
  resize: none;
}

.carousel-inner img {
  max-width: 300px;
  margin-top: 10px;
}

.carousel {
  width: fit-content;
}

#imagenes {
  max-width: 300px;
}

.test {
  font-size: 10px;
}

@media (max-width: 389px) {
  .calificaciones {
    font-size: small;
    font: normal normal normal 13px/1 FontAwesome
  }

  #comentario-hecho {
    width: 280px;
    height: 100px
  }

  .test {
    max-width: 309px;
  }
}

@media (min-width: 390px) {
  .calificaciones {
    font-size: inherit;
    font: normal normal normal 14px/1 FontAwesome
  }

  #comentario-hecho {
    width: 310px;
    height: 100px
  }

  .test {
    font-size: inherit;
    font: normal normal normal 14px/1 FontAwesome
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
  height: 100%;
}

#confirmarModal {
  min-width: 90px;
  margin-left: 80%;
}

@media (min-width: 411px) {
  #confirmarModal {
    min-width: 90px;
    margin-left: 80%;
  }
}

@media (max-width: 410px) {
  #confirmarModal {
    min-width: 90px;
    margin-left: 60%;
  }

  .modal-content {
    height: 700px;
  }
}

.input_modal,
.input_modal2 {
  border-radius: 5px;
  line-height: 30px;
  border-width: 1px;
}

.div_modal {
  display: inline-block;
}

.codigo {
  margin-left: 20px;
}

.codigo2 {
  margin-left: -3px;
}

#divParaModal {
  display: inline-flex;
}

#formaDePago {
  padding-top: 7px;
}

.remove-button {
  display: flex;
  align-items: center;
  border: 1px solid rgb(174, 13, 13);
  border-radius: 5px;
  padding: 1rem;

}

.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
    0 0 0 2px,
    inset -2px 0 0,
    inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px
}